$font-family: 'Roboto', sans-serif;

$top-height: 66px;

$assets-root: '/assets';
$images-root: '/img/';
$fonts-root: '/fonts/';

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultraBold: 900;

$resMin: 320px;
$resXS: 500px;
$resXXS: 435px;
