<div class="row show-grid">
    <div class="container text-center" style="float:left;margin-top:70px;">
        <h3 style="color:white;">{{pageHeading}}</h3>
        <div ng-if="mapLoaded">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng">
                    <agm-info-window>
                        <h5>
                            <strong>Hi!!</strong>
                        </h5>
                        <p>You are here!</p>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
        <div ng-if="!mapLoaded">
            <h3>{{locationErrorMessage}}</h3>
        </div>
        <div class="row">
            <div *ngFor="let shop of retrievedShops" class="col-sm-3" id="{{shop._id}}">
                <sf-card title="{{shop.name}}, {{shop.city}}" style="float:left;">
                    <img src="{{shop.picture}}" width="200" height="200" />
                    <div class="form-group">
                        <img class="imgButton" src="../../../assets/icons/icons8-unlike.png" (click)="likeShop(shop._id, 0)">
                        <img class="imgButton" src="../../../assets/icons/icons8-like.png" (click)="likeShop(shop._id, 1)">
                    </div>
                    <div ng-if="mapLoaded">
                            <p style="color:white;text-align:center">Distance: {{shop.distance}} Kms</p>
                    </div>
                </sf-card>
            </div>
        </div>
    </div>
</div>